@font-face {
    font-family: 'Prototype';
    src: url('Prototype.ttf');
    font-weight: normal;
    font-style: normal;
}

body    {
    background-color: #F8F8FF;
    width: 100%;
    height: 100%;
    font-family: 'Prototype';
    font-weight: normal;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
} 

footer  {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: 'Prototype';
    border-top: solid;
    border-top-width: 1px;
}

.container  {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.bodyContainer  {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.homeText {
    width: 35%;
    margin: auto;
}

.homeText ul {
    list-style: none;
    padding: 0;
}

.homePhoto {
    height: 150px;
}

.aboutPhoto {
    height: 200px;
}

.projectPhoto {
    width: 500px;
}

.headerContainer    {
    border-bottom: solid;
    border-bottom-width: 1px;
}

.headerContainer ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.left   {
    float: left;
    display: block;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}

.right {
    float: right;
}

li a    {display: block;
        text-decoration: none;
        padding: 15px;
        text-align: center;}

a.current:link, a.current:visited  {
    color: #6E6E6E;
}        

a:link, a:visited    {
    color: black;
}      

a:hover  {
    color: #6E6E6E;
}









@media only screen and (max-width: 1800px) {
     .projectPhoto {
        width: 400px;
    }   
}

@media only screen and (max-width: 1500px) {
    .homeText {
    width: 40%;
    }
    .homePhoto {
        height: 125px;
    }
     .projectPhoto {
        width: 300px;
    }   
}

@media only screen and (max-width: 1200px) {
    .homeText {
    width: 45%;
    }
    .homePhoto {
        height: 100px;
    }

    .aboutPhoto {
        height: 150px;
    }

    .projectPhoto {
        width: 200px;
    }
}

@media only screen and (max-width: 800px) {
    .homeText {
    width: 55%;
    }
    .aboutPhoto {
        height: 100px;
    }
}

@media only screen and (max-width: 750px) {
    body    {
        font-size: 0.75em;
    }
    .homeText {
    width: 55%;
    }
    .homePhoto {
        height: 100px;
    }

    .aboutPhoto {
        height: 100px;
    }

    .projectPhoto {
        width: 150px;
    }
}

@media only screen and (max-width: 650px) {
    body    {
        font-size: 0.5em;
    }
    .homeText {
    width: 55%;
    }
    .homePhoto {
        height: 75px;
    }

    .aboutPhoto {
        height: 100px;
    }

    .projectPhoto {
        width: 150px;
    }
}

@media only screen and (max-width: 500px) {
    body    {
        font-size: 0.3em;
    }
    .homeText {
    width: 55%;
    }
    .homePhoto {
        height: 50px;
    }

    .aboutPhoto {
        height: 75px;
    }

    .projectPhoto {
        width: 100px;
    }
}

@media only screen and (max-width: 405px) {
    body    {
        font-size: 0.2em;
    }
    .homeText {
    width: 55%;
    }
}